<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name=".change_user_phone"
            android:exported="false" />
        <activity
            android:name=".change_user_email"
            android:exported="false" />
        <activity
            android:name=".change_user_password"
            android:exported="false" />
        <activity
            android:name=".change_user_details"
            android:exported="false" />
        <activity
            android:name=".user_details_register"
            android:exported="false" />
        <activity
            android:name=".OtpVerification"
            android:exported="false" />
        <activity
            android:name=".ViewShelters"
            android:exported="false" />
        <activity
            android:name=".ViewClothes"
            android:exported="false" />
        <activity
            android:name=".DonateItem"
            android:exported="false" />
        <activity
            android:name=".View_Contributions"
            android:exported="false" />
        <activity
            android:name=".Receiver_Side"
            android:exported="false" />
        <activity
            android:name=".Donor_Side"
            android:exported="false" />
        <activity
            android:name=".ViewFood"
            android:exported="false" />
        <activity
            android:name=".sendFood"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Spinner"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".donation_cloth"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".donation_shelter"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>